<link rel="styleSheet" href="qoute-detail.component.css">
<li>{{qoute.description}}</li>
<div class="row">
    <div *ngFor='let i = index'>
        <div class="col">
            <button (click)='qouteUseless(true)'>Delete</button>

        </div>
        <div class="col">
            <button (click)=upVote(i)>upvote</button>
            <p>{{qoute.upVote}}</p>
        </div>
        <div class="col">
            <button (click)=downVote(i)>downvote</button>
            <p>{{qoute.downVote}}</p>
        </div>
    </div>


</div>