<link rel="stylesheet" href="qoute-form.component.css">
<div class="container-fluid">
    <h2 class="text-center">Create a new Qoute</h2>
    <hr>
    <form>

        <div class="form-group">
            <label for="qoute">Qoute</label>
            <input type="text" required class="form-control" id="qoute">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <input type="text" required class="form-control" id="details">

        </div>
        <div class="from-group">
            <label for="name">Your name</label>
            <input type="text" required class="form-control" id="name">
        </div>
    </form>
</div>